html, body {
    max-width: 100%;
    background-color: #fff;
}


#header {
    position: absolute;
    width: 100%;
    display: block;
    background-color: honeydew;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    margin: 0;
}

#header h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;   
    /* margin-left: 150px; */
}

.tabcontent {
    position: absolute;
    margin-left: 0px;
    margin-top: 70px;
    float: left;
    padding: 20px 100px;
    border-top: 1px solid #ccc;
    width: 100%;
    height: fit-content;
    background-color: #fff;

}

.table {
    width: 100%;
    border-collapse: collapse;  
}

tr{
    border-bottom;: 1px solid #ddd;
    width: 100%;
    height: 50px;
}
tr:hover {
    background-color: #ddd;
}

.table, th , td {
    text-align: center;
    padding: 2px;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

.button {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    padding: 0;
    align-items: center;
    background-color: rgb(190, 190, 190); /* Green */
    border: none;
    display: inline-block;
    cursor: pointer;
}

.img-button {
    width: 10px;
    height: 10px;
}

/* MODAL ---------------------------------------------------------------------------------------------------------------------------------------*/
.container {
    padding-top: 16px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(0, 0, 0, 0.4);
    padding-top: 60px;
}
/* modal content box */
.modal-content{
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 60%;
    padding: 20px;
}

.close { /* Position top right outside modal*/
    position: absolute;
    right: 22px;
    top 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, /*Close btn on hover*/
.close:focus {
    color: red;
    cursor: pointer;
}

input[type=text], [type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.25rem;
}
form {
    border: 3px solid #f1f1f1;
}

.button1 {
    padding: 14px 20px;
    margin: 8px 0;
    width: 48%;
}
label {
    font-weight: bold;
    margin-top: 12px;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

/*Add zoom animation*/
.animate {
    -webkit-animation: animatezoom 0.2s;
    animation: animatezoom 0.2s;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to{-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to{-webkit-transform: scale(1)}
}
#search {
    position: ;
    width: 300px;
}

thead tr:first-child th { 
    position: sticky; 
    top: 0;
    background-color: rgb(253, 244, 194);
}
.table td, th {
    vertical-align: middle;
}
.table tfoot td{
    background-color: rgb(253, 244, 194);
    font-weight: bolder;
}
#searchCategory {
    height: 38px;
    margin-top: 8px;
    width: fit-content;
}







/*-------------------------------------------------SUPER SEARCH-------------------*/
.results tr[visible='false'], .no-result{                                       /**/
    display:none;                                                               /**/ 
}                                                                               /**/
.results tr[visible='true']{                                                    /**/
    display:table-row;                                                          /**/
}                                                                               /**/
.counter{                                                                       /**/
    padding:8px;                                                                /**/
    color:#ccc;                                                               /**/
}                                                                               /**/
/* ------------------------------------------------------------------------------ */